*
{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
@font-face {
    src: url(fonts/digital-7_0.ttf);
    font-family: digial;
}
body
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(imgs/Wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.container 
{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.input 
{
    margin: auto;
    border: 5px solid #9c27b0;
    box-sizing: border-box;
    height: 3.5rem;
    width: 20rem;
    text-align: center;
}
.input > span 
{
    color: white;
    font-size: 2rem;
}

input[type]
{
    font-family: digial;
    width: 5.5rem;
    height: 2rem;
    font-size:2rem ;
    outline: none;
    border: none;
    color: #9c27b0;
    border-radius: 0.5rem;
    text-align: center;
    background: transparent;

}
input[type]::placeholder
{
    color: white;
}
.btns 
{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    margin-top: 1.5rem;
}
.btns > button 
{
    width: 5rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: #7370FFFF;
    color: white;
    cursor: pointer;
}

button:hover 
{
    color: black;
    background-color: white;
    transition: 400ms background-color ease-in-out;

}
